# Ignore Visual Studio temporary files, build results, and user-specific files
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
*.ncrunch*
*.log
*.tlog
*.v11.suo
*.ncrunchproject
*.dotSettings.user
*.sln.iml
.projectname.user
.vscode/
.idea/
*.suo
*.sln.iml
.idea_modules/
*.iws
*.ipr
.idea/
*.bak
*.tmp
*.temp
*.mdb
*.dll
*.pdb
*.exe
*.cache
*.log
*.vspscc
*.vssscc
.vscode/
*.nupkg
*.nuspec
*.nuget.targets
*.resharper
*.resharper.user
*.OpenCover
*.dotSettings
*.teamcity
*.psess
*.vsp
*.vspx
*.vspx.user
